/* for remove page link at the time of printing */
@media print {
    @page {
          size: auto;
          margin: 0;
        }
      footer{
      display: none;
    }
      span{
      display: none;
    }
    #Signature{
      position: absolute;
      width: 100%;
      right: 2%;
      bottom: 5%;
     
    }
    
  }